<a href="https://colab.research.google.com/github/RakshithaAradhyaSanjay/CRUDAxios/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
var = "hello"
print (var)

hello

TASK 1

In [8]:
ans1 = 175 * 16.28;
print (ans1)
type(ans1)

2849.0

float

TASK 2

In [11]:
ans2 =  572 / 8.73
print(ans2)
type(ans2)

65.52119129438717

float

TASK 3

In [12]:
ans3 = "I am a student"
print(ans3)
type(ans3)

I am a student

str

TASK 4

In [14]:
ans4 = 25.927
print(ans4)
type(ans4)
ans4_int = int(ans4)
type(ans4_int)

25.927

int

TASK 5

In [15]:
list_1 = [1,4,9,16,25 ]
print(list_1)

[1, 4, 9, 16, 25]

TAKS 6

In [16]:
list_2 = [1, "Hello", 14, 5.6 ]
print(list_2)

[1, 'Hello', 14, 5.6]

TASK 7

In [17]:
list_3 = [3,4,5]
list_4 = ["Columbia", 11, 24.5, 3, list_3]
print(list_4)

['Columbia', 11, 24.5, 3, [3, 4, 5]]

TASK 8

In [18]:
list_5 = [[3,4,5],[6,7],[8,9,'a'],['str','int',1]]
list_5_elem = list_5[2]
print(list_5_elem)

[8, 9, 'a']

TASK 9

In [20]:
list_6 = [10,20,30,"Hello", 5.82,1,"student", "Python"]
del list_6[-2]
print(list_6)

[10, 20, 30, 'Hello', 5.82, 1, 'Python']

TASK 10

In [21]:
list_5=  [[3,4,5],[6,7],[8,9,'a'],['str','int',1]]
new_list = ['19',22,44]
list_5_new = list_5 + new_list
print(list_5_new)

[[3, 4, 5], [6, 7], [8, 9, 'a'], ['str', 'int', 1], '19', 22, 44]

TASK 11

In [23]:
dict_1 = {"name" : "Andrew","age":"25"}
type(dict_1)

dict

TASK 12

In [24]:
dict_1["city"] = "Seattle"
print(dict_1)

{'name': 'Andrew', 'age': '25', 'city': 'Seattle'}

TASK 13

In [26]:
dict_1["city"] = "New York"
print(dict_1)

{'name': 'Andrew', 'age': '25', 'city': 'New York'}

TASK 14

In [27]:
ans14 = -25.82;
print(abs(ans14))

25.82

TASK 15

In [31]:
 ans15 = "I live in the US";
 print(ans15.lower());

i live in the us

TASK 16

In [6]:
 num_1 = -738.9;
 num_2 = 11;
 values = [];
 if num_1 < 0:
   values.append("True")
 else:
  values.append("False")

 if num_2 > 0:
    values.append("False")
 else:
    values.append("True")


print("values:", values)

values: ['True', 'False']

Task 17

In [11]:
list_mod = list(range(1,15))
list_result =[]
for index in list_mod:
 if index % 2 == 0:
     list_result.append("True")
 else:
     list_result.append( "False")
print("Result:", list_result)

Result: ['False', 'True', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'True']

Task 18

In [16]:
list_time = list(range(7,24))
result_time =[]
for index in list_time:
   if index <= 12:
     result_time.append("Good morning")
   elif index < 20:
    result_time.append("Good afternoon")
else:
  result_time.append("Good night")
# Print the final result
print("Result time greetings:")
for idx, greeting in enumerate(result_time, start=7):
    print(f"{greeting} ({idx}:00)")

Result time greetings:
Good morning (7:00)
Good morning (8:00)
Good morning (9:00)
Good morning (10:00)
Good morning (11:00)
Good morning (12:00)
Good afternoon (13:00)
Good afternoon (14:00)
Good afternoon (15:00)
Good afternoon (16:00)
Good afternoon (17:00)
Good afternoon (18:00)
Good afternoon (19:00)
Good night (20:00)

TASK 19

In [18]:
def validate(x):
 if x % 2 == 0:
  return "even"
 else:
  return "odd"
print(validate(1))
print(validate(2))
print(validate(3))
print(validate(4))
print(validate(5))
print(validate(6))

odd
even
odd
even
odd
even

TASK 20

In [23]:
def abs_value(x):
 return abs(x)



print(abs_value(-10))

10