<a href="https://colab.research.google.com/github/RakshithaAradhyaSanjay/CRUDAxios/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 1

In [2]:
import numpy as np
ans1 = "b"

TASK 2

In [3]:
from numpy import square;
ans2 = "d"

TASK 3

In [7]:
import numpy as np

distance = [2000, 4000, 6000, 7000, 1000]
np_distance = np.array(distance)
print(np_distance)

[2000 4000 6000 7000 1000]

TASK 4

In [9]:
np_distance_km = np_distance / 1000;
print(np_distance_km)

[2. 4. 6. 7. 1.]

TASK 5

In [15]:
 import numpy as np;

 time=[0.5, 1,1.3,1.5,2];
 np_time = np.array(time);
 np_velocity = np_distance/np_time;
 print("velocity",np_velocity)

velocity [4000.         4000.         4615.38461538 4666.66666667  500.        ]

TASK 6

In [16]:
np_velocity[1] = 1.8
print(np_velocity)

[4.00000000e+03 1.80000000e+00 4.61538462e+03 4.66666667e+03
 5.00000000e+02]

In [ ]:
TASK 7

In [17]:
museum = {

     'museum':['Louvre','Hermitage','National Gallery','Metropolitan'],

     'Picasso':[True,False,True,False]

}

In [18]:
import pandas as pd;
museum = {

     'museum':['Louvre','Hermitage','National Gallery','Metropolitan'],

     'Picasso':[True,False,True,False]

}
df_mueseum = pd.DataFrame(museum);

Task 8

In [20]:
import pandas as pd

# Read the CSV file
file_path = "/content/sample_data/Patient Data.csv"
df_patients = pd.read_csv(file_path)

# Extract the specified columns
df_patients_main = df_patients[["gender", "age", "BMI"]]
print(df_patients_main)

       gender   age    BMI
0      Female  80.0  25.19
1      Female  54.0    NaN
2        Male  28.0    NaN
3      Female  36.0  23.45
4        Male  76.0  20.14
...       ...   ...    ...
99995  Female  80.0    NaN
99996  Female   2.0  17.37
99997    Male  66.0  27.83
99998  Female  24.0  35.42
99999  Female  57.0  22.43

[100000 rows x 3 columns]

TASK 9

In [22]:
df_patients_u30 = df_patients_main[df_patients_main["age"] <= 30]
print(df_patients_u30)

       gender   age    BMI
2        Male  28.0    NaN
5      Female  20.0    NaN
16       Male  15.0  30.36
21       Male   5.0  18.80
24     Female   4.0  13.99
...       ...   ...    ...
99989  Female  26.0    NaN
99991    Male  22.0  29.65
99992  Female  26.0  34.34
99996  Female   2.0  17.37
99998  Female  24.0  35.42

[33733 rows x 3 columns]

In [23]:
average_bmi = df_patients["BMI"].mean()

In [24]:
print(average_bmi)

27.321028891034924